* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.hello {
    width: 100%;
    height: 100vh;
    border: 2px;
    border-radius: 8px;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-zsYx4uUTO-5Qt0qBA9EjqEYDzjCDoBbWBB-P5z7jhloL88PVBso97kgqJhaQe-s&s&ec=73068123") ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-zsYx4uUTO-5Qt0qBA9EjqEYDzjCDoBbWBB-P5z7jhloL88PVBso97kgqJhaQe-s&s&ec=73068123") center/cover no-repeat; */
}